@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap');
*{
    padding:0;
    margin: 0;
    font-family: "Advent Pro", serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h4{
    text-transform: uppercase;
    text-align: center;
}
ul{
    padding: 0;
    margin: 0;
}
header nav{
    width: 100%;
    background-color: bisque;
    height: 50px;
    overflow: hidden;
    opacity: 0.9;
    position: fixed;
}
header nav li{
    float: right;
}
header nav li a{
    padding: 16px 18px;
    display: block;
}
#logo{
    float: left;
    
}
#logo a{
    font-family: "Dancing Script", serif;
}
header #p1{
    background: url(media/image-principale.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 70vh;
}
#partiePrincipale{
    text-align: center;
    padding-top: 100px;
}
#partiePrincipale h1{
    color: beige;
    font-family: "Dancing Script", serif;
    font-size: 70px;
    text-shadow: 1px 5px black;
    padding: 60px;
}
#partiePrincipale #premierTrait{
    height: 1px;
    background-color: beige;
    width: 25%;
    margin: -3px auto;
}
#partiePrincipale h2{
    color: beige;
    text-shadow: 1px 3px black;
    margin: 40px auto;
    font-size: 30px;
}
#presentation h4{
    margin: 30px auto;
    font-size: 40px;
}
#presentation p{
    margin: auto 20px;
}
#prestations #localisation{
    padding: 40px 70px;
}
#prestations #localisation h5{
    font-size: 15px;
    margin: 10px 60px;
}
#prestations #localisation img{
    box-shadow: 2px 5px 5px 2px black;
}
#prestations #chambre{
    padding: 40px 70px;
}
#prestations #chambre h5{
    font-size: 15px;
    margin: 10px 60px;
}
#prestations #chambre img{
    box-shadow: 2px 5px 5px 2px black;
}
#prestations #cuisine{
    padding: 40px 70px;
}
/* #prestations #cuisine:hover{
    transform: scale(1.5);
} */
#prestations #cuisine h5{
    font-size: 15px;
    margin: 10px 60px;
}
#prestations #cuisine img{
    box-shadow: 2px 5px 5px 2px black;
    cursor: pointer;
}
#prestations{
    padding: 10px 100px;
    display: flex;
    flex-wrap: wrap;
}
#touriste{
    min-height: 2500px;
    background-color: rgb(249, 247, 247);
}
#touriste h4{
    font-size: 40px;
    margin: 100px auto;
    padding-top: 100px;
}
#tourisme li{
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);;
}
#tourisme #ocean{
    background: url(media/ocean.jpg)no-repeat 50% 50%;
    background-size: cover;
    height: 50vh;
    box-shadow: 2px 5px 5px 2px black;
    background-size: cover;
    height: 60vh;
    margin: 100px 100px;
}
#tourisme #chateau{
    background: url(media/chateau.JPG)no-repeat 50% 50%;
    background-size: cover;
    height: 50vh;
    box-shadow: 2px 5px 5px 2px black;
    background-size: cover;
    height: 60vh;
    margin: 100px 100px;
}
#tourisme #estuaire{
    background: url(media/phare.JPG)no-repeat 50% 50%;
    background-size: cover;
    height: 50vh;
    box-shadow: 2px 5px 5px 2px black;
    background-size: cover;
    height: 60vh;
    margin: 100px 100px;
}
#tourisme #vignoble{
    background: url(media/vignes.jpg)no-repeat 50% 50%;
    background-size: cover;
    height: 50vh;
    box-shadow: 2px 5px 5px 2px black;
    background-size: cover;
    height: 60vh;
    margin: 100px 100px;
}
#tourisme p{
    background-color: greenyellow;
    width: 235px;
    float: right;
    margin: 50px -180px  0;
    text-align: center;

}
footer{
    background-color: rgb(15, 17, 15);
    height: 60vh;
}
footer h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    color: beige;
}
footer form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding-top: 20px;
} 
input, textarea, button{
    margin: 3px auto;
    height: 30px;
    width: 300px;
}
textarea{
    height: 100px;
}
button{
    cursor: pointer;
    background-color: rgb(207, 104, 104);
    width: 30%;
    border: none;
}
button:hover{
    background-color: beige;
    transition: 0.3s;
}
#copyrightEtIcons{
    position: relative;
    display: flex;
    margin-top: 20px;
    padding: 0 10%;
    justify-content: space-between;
}
#copyright p{
    color: white;
}
#icons a{
    color: white;
    padding: 3px;
}
#deuxiemeTrait{
    height: 1px;
    background-color: #fff;
    width: 75%;
    margin: 20px auto;
}





